@model practice.Models.UserViewModel
@{
    ViewData["Title"] = "Reward User";
}

@if (Model != null)
{
    <form asp-action="RewardUser">
        <input type="hidden" value="@Model.Id" name="userid" />
        <p class="input-cap" style="margin-top:30px">User: @Model.FirstName @Model.LastName</p>
        <p><span class="input-cap">Reward:</span>
            <select class="input" style="width:200px" name="rewardid">
                @foreach (var reward in Model.Rewards)
                {
                    <option value="@reward.Id">@reward.Title</option>
                }
            </select>
        </p>
        <button class="button" type="submit">Reward</button>
    </form>
}